<!--
=========================================================
* Material Kit 2 - v3.0.4
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-kit 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
{% load static %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
<title>
  {% block title %}{% endblock title %}
</title>
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
<!-- Nucleo Icons -->
<link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
<link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
<!-- CSS Files -->
<link id="pagestyle" href="{% static 'css/material-kit.css' %}" rel="stylesheet" />
{% block extrastyle %}{% endblock extrastyle %}
</head>

<body {% block body %}{% endblock body %} >

  {% block header %}
  <div style="margin-bottom: 150px;">

    {% include 'includes/navigation.html' %}
  </div>

  {% endblock header %}

  <div class="mx-lg-5 mx-md-3 mx-sm-1 px-lg-5 px-md-3 px-sm-0">

    {% block content %}{% endblock content %}
  </div>

  {% block footer %}
  
    {% include 'includes/footer_background.html' %}

  {% endblock footer %}

  {% include 'includes/scripts.html' %}

  {% block javascripts %}{% endblock javascripts %}

</body>
</html>