{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
    <main>
        {% include 'includes/pre-loader.html' %}

        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">Tabs</h1>
                        <p class="lead mb-5">Use the tab JavaScript plugin—include it individually or through the compiled bootstrap.js file—to extend our navigational tabs and pills to create tabbable panes of local content, even via dropdown menus.</p>
                        <div class="alert bg-secondary align-items-center" role="alert">
                            <span class="alert-inner--icon"><span class="fas fa-info-circle"></span></span>
                            <a class="fw-bold" href="https://themesberg.com/docs/pixel-bootstrap/components/tabs/" target="_blank">See our Documentation</a> for a detailed technical explanation.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End of Hero -->
        {% include 'includes/components/_tabs.html' %}
    </main>
{% endblock content %}