{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
    <main>
        {% include 'includes/pre-loader.html' %}
        
        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">Typography</h1>
                        <p class="lead mb-5">Pixel makes use of the <strong>Nunito</strong> Google Web Font for beatiful and readable typography.</p>
                        <div class="alert bg-secondary" role="alert">
                            <span class="fas fa-info-circle"></span>
                            <a class="fw-bold text-white text-underline mx-1" href="https://themesberg.com/docs/pixel-bootstrap/foundation/typography/" target="_blank">See our Documentation</a> for a detailed technical explanation.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End of Hero -->
        {% include 'includes/components/_typography.html' %}
    </main>
{% endblock content %}