{% load static %}

<!-- Core -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/headroom.min.js' %}"></script>

<!-- Vendor JS -->
<script src="{% static 'assets/js/on-screen.umd.min.js' %}"></script>
<script src="{% static 'assets/js/jarallax.min.js' %}"></script>
<script src="{% static 'assets/js/smooth-scroll.polyfills.min.js' %}"></script>
<script src="{% static 'assets/js/vivus.min.js' %}"></script>
<script src="{% static 'assets/js/datepicker.min.js' %}"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Pixel JS -->
<script src="{% static 'assets/js/pixel.js' %}"></script>